<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CrossBrowserSuite"
       parallel="tests"
       thread-count="2">

    <listeners>

        <listener class-name="utilities.RetryListener"/>

    </listeners>
<!--  
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="testCases.TC_LoginandUserManagement"/>
        </classes>
    </test>
-->
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="testCases.TC_ECommerceAutomation"/>
        </classes>
    </test>

</suite>